.container {
  display: flex;
  flex-direction: column;
  min-width: 451px;
}

.form {
  display: flex;
  height: 100%;
}

.mat-form-field {
  font-size: 13px;
  flex-grow: 1;
}

.column {
  float: left;
  width: 40%;
}

.column2 {
  margin-left: 10%;
  float: right;
  align: right;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
