<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje plana rada</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija plana rada</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje plana rada</h3>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Datum isplate" [(ngModel)]="data.datum" name="datum" [disabled]="flag===3" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.pacijent" placeholder="Pacijent" name="pacijent" [compareWith]="compareTo" [disabled]="flag == 3" required>
          <mat-option *ngFor="let pacijent of sviPacijenti" [value]="pacijent">
            {{ pacijent.ime + ' '+ pacijent.prezime }}
          </mat-option>
        </mat-select>      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.zaposleni" placeholder="Zaposleni" name="zaposleni" [compareWith]="compareTo" [disabled]="flag == 3" required>
          <mat-option *ngFor="let zaposleni of sviZaposleni" [value]="zaposleni">
            {{ zaposleni.ime + ' ' + zaposleni.prezime }}
          </mat-option>
        </mat-select>      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag==1" [type]="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">
        Sačuvaj
      </button>
      <button mat-button *ngIf="flag==2" [type]="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">
        Sačuvaj
      </button>
      <button mat-button *ngIf="flag==3" [type]="submit" [mat-dialog-close]="1" (click)="delete()">
        Obriši
      </button>
      <button mat-button (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
