<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje isplate</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija isplate</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje isplate</h3>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
           <mat-form-field>
            <input matInput placeholder="Opis" [(ngModel)]="data.opis" name="opis" [disabled]="flag==3" required>
          </mat-form-field>
    </div>

    <div class="form">
        <mat-checkbox checked=data.zaPovrsine [(ngModel)]="data.zaPovrsine" name=zaPovrsine [disabled]="flag == 3" ><span>Za površine</span></mat-checkbox>
  </div>
    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.slika" placeholder="Slika" name="slika" [compareWith]="compareTo" [disabled]="flag == 3" required>
          <mat-option *ngFor="let slika of sveSlike" [value]="slika">
            {{ slika.naziv }}
          </mat-option>
        </mat-select>      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag==1" [type]="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">
        Sačuvaj
      </button>
      <button mat-button *ngIf="flag==2" [type]="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">
        Sačuvaj
      </button>
      <button mat-button *ngIf="flag==3" [type]="submit" [mat-dialog-close]="1" (click)="delete()">
        Obriši
      </button>
      <button mat-button (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
