.container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.no-result {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style:  italic;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  height: 100%;
}
