<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje izvršene intervencije</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija izvršene intervencije</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje izvršene intervencije</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">

        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="data.pacijent" [compareWith]="compareTo" placeholder="Pacijent" name="pacijent"
            [disabled]="flag == 3" required>
            <mat-option *ngFor="let pacijent of sviPacijenti" [value]="pacijent">
              {{ pacijent.ime + ' ' + pacijent.prezime}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Datum" [(ngModel)]="data.datum" name="datum"
          [disabled]="flag===3" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="data.dijagnoza" placeholder="Dijagnoza" [compareWith]="compareTo" name="dijagnoza"
          [disabled]="flag == 3" required>
          <mat-option *ngFor="let dijagnoza of sveDijagnoze" [value]="dijagnoza">
            {{ dijagnoza.opis}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field style="margin-right:10px;" class="example-full-width">
        <mat-select [(ngModel)]="data.materijal" placeholder="Materijal" [compareWith]="compareTo"  name="materijal"
          [disabled]="flag == 3" required>
          <mat-option *ngFor="let materijal of sviMaterijali" [value]="materijal">
            {{ materijal.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Površine" [(ngModel)]="data.povrsine" name="povrsine" [disabled]="flag==3"
          required>
      </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field style="margin-right:10px;" class="example-full-width">
          <mat-select [(ngModel)]="data.vrstaIntervencije" [compareWith]="compareTo" placeholder="Vrsta intervencije" name="vrstaIntervencije"
             [disabled]="flag == 3" (selectionChange)="count($event.value)" required>
            <mat-option *ngFor="let vrstaIntervencije of sveVrsteIntervencije" [value]="vrstaIntervencije">
              {{vrstaIntervencije.opis}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Zub" [(ngModel)]="data.zub" name="zub" [disabled]="flag==3" required>
          </mat-form-field>
      </div>
    <div class="form">
     <!-- <mat-form-field style="margin-right:10px;" class="example-full-width" >
          <mat-select [(ngModel)]="data.vrstaIntervencije" placeholder="Iznos" name="iznos"
           [disabled]="flag == 1 || flag == 2 || flag == 3">
          <mat-option *ngFor="let vrstaIntervencije of sveVrsteIntervencije" [value]="data.vrstaIntervencije" readonly>
            {{vrstaIntervencije.iznos}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
      <mat-form-field style="margin-right:10px;" class="example-full-width">
          <input matInput placeholder="Iznos(%)" [(ngModel)]="data.iznos" name="iznos" [disabled]="flag==3 || flag==1 || flag==2" required>
        </mat-form-field>
      <mat-form-field style="margin-right:10px;" class="example-full-width">
        <input matInput placeholder="Popust(%)" [(ngModel)]="data.popust" name="popust" [disabled]="flag==3" (input)="onChange($event.target.value)" required>
      </mat-form-field>
      <mat-form-field style="margin-right:10px;" class="example-full-width">
          <input matInput placeholder="Naplata" [(ngModel)]="data.placeno" name="placeno" [disabled]="flag==3 || flag==2 || flag==1" required>
        </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="data.racun" placeholder="Račun" name="racun" [compareWith]="compareTo"
          [disabled]="flag == 3" required>
          <mat-option *ngFor="let racun of sviRacuni" [value]="racun">
            {{racun.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field style="margin-right:10px;" class="example-full-width">
        <mat-select [(ngModel)]="data.radnoMjesto" placeholder="Radno Mesto" [compareWith]="compareTo" name="radnoMjesto"
          [disabled]="flag == 3" required>
          <mat-option *ngFor="let radnoMjesto of svaRadnaMesta" [value]="radnoMjesto">
            {{radnoMjesto.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="data.zaposleni" placeholder="Zaposleni" [compareWith]="compareTo" name="zaposleni"
          [disabled]="flag == 3" required>
          <mat-option *ngFor="let zaposleni of sviZaposleni" [value]="zaposleni">
            {{zaposleni.ime + ' '+ zaposleni.prezime}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Napomena" [(ngModel)]="data.napomena" name="napomena" [disabled]="flag==3"
            required>
        </mat-form-field>
      </div>
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag==1" [type]="submit" [mat-dialog-close]="1" (click)="add()"
        [disabled]="!formControl.valid">
        Sačuvaj
      </button>
      <button mat-button *ngIf="flag==2" [type]="submit" [mat-dialog-close]="1" (click)="update()"
        [disabled]="!formControl.valid">
        Sačuvaj
      </button>
      <button mat-button *ngIf="flag==3" [type]="submit" [mat-dialog-close]="1" (click)="delete()">
        Obriši
      </button>
      <button mat-button (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
