.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.form {
  display: flex;
  height: 100%;
}

.mat-form-field {
  font-size: 13px;
  flex-grow: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
