<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="!(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/pacijent">Pacijent</a>
      <a mat-list-item routerLink="/materijal">Materijal</a>
      <a mat-list-item routerLink="/ordinacija">Ordinacija</a>
      <a mat-list-item routerLink="/dobavljac">Dobavljac</a>
      <a mat-list-item routerLink="/dijagnoza">Dijagnoza</a>
      <a mat-list-item routerLink="/artikl">Artikl</a>
      <a mat-list-item routerLink="/slika">Slika</a>
      <a mat-list-item routerLink="/struka">Struka</a>
      <a mat-list-item routerLink="/zaposleni">Zaposleni</a>
      <a mat-list-item routerLink="/isplata">Isplata</a>
      <a mat-list-item routerLink="/porudzbina">Porudžbina</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Stomatološka Ordinacija</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
